h1 {
    color: rgb(37, 75, 129);
    font-family: "Playwrite IS", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 47px;
}

h2 {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    color: rgb(145, 33, 95);
    font-size: 42px;
    font-style: italic;
    text-align: center;
}

body {
    background: rgb(6, 36, 0);
    background: linear-gradient(90deg, rgba(24, 102, 9, 0.723) 14%, rgba(10, 99, 112, 0.664) 50%, rgba(192, 0, 255, 0.4402354691876751) 79%);
}

ul li {
    font-size: 32px;
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}