<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Project Signup Welcome</title>
    {%load static%}
    <link rel="stylesheet" href="{% static "firststyle.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet">

</head>
<body>
    <h1>Welcome to our website!</h1>
    <h2>Log in back or Sign Up for free.<br>No personal information required.</h2>
    <!-- HTML !-->
    <button class="button-19" role="button" id="Sign In">Sign Up</button>
    <button class="button-19" role="button" id="Sign In"><a href="">Sign In</a></button>
    <br>
    <img src="https://t3.ftcdn.net/jpg/00/87/97/06/360_F_87970620_Tdgw6WYdWnrZHn2uQwJpVDH4vr4PINSc.jpg" alt="Welcome Image" width="455px">
</body>
</html>