<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Python-Django/HTML Homepage</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'homestyle.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playwrite+IS:wght@100..400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1><u>Django Project Homepage</u></h1>
        <h2><u>Projects</u></h2>
        <div class="cen">
        <!-- HTML !--><button class="button-64" role="button" id="project-button"><span class="spa">NextProj</span></button>
        <ul>
            <div class="cen" id="cal">
                <div class="container">
                <li>Calculator<strong>:</strong></li><button type="button" style="margin-left: 0.2cm;"><span class="spa"><a href="/calculateApp/" style="text-decoration: none;">CALC</a></span></button>
                </div>
            <br>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7FT5sGDnxV1Q3-JI_w6tPAlGPesQBrIGrGQ&s" alt="Basic Cartoon Calculator Image" width='104'>
            </div>
            <div class="cen" id="soda">
            <div class="container">
            <li>Soda Vending Machine<strong>:</strong></li>
            <button><span class="spa">Soda</span></button>
            </div>
            <br>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNWB5mp-G0kLgSg-PG4vTclsDxZ63_mcWN8Q&s" alt="Cartoon Soda Vending Machine Image" width='124'>
        </div>
        </ul>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        {% load static %}
        <script src="{% static 'homescript.js' %}" defer></script>
        
    </body>
</html>
