<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Python-Django/HTML Homepage</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'homestyle.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playwrite+IS:wght@100..400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    </head>
    <body>

    <h1>Django Project Homepage</h1>
        <span>
    <h2>Projects</h2>
    <ul>
        <li>Calculator</li>
        <br>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7FT5sGDnxV1Q3-JI_w6tPAlGPesQBrIGrGQ&s" alt="Basic Cartoon Calculator Image" width='104'>
        <br>
        <li>Soda Vending Machine</li>
        <br>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNWB5mp-G0kLgSg-PG4vTclsDxZ63_mcWN8Q&s" alt="Cartoon Soda Vending Machine Image" width='124'>
    </ul>
    <h3>Access Projects</h3>
    <!-- HTML !-->
    <button class="button-56" role="button">Button 56</button>
    </body>
</html>