<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Python-Django/HTML Homepage</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'homestyle.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playwrite+IS:wght@100..400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1><u>Django Project Homepage</u></h1>
        <h2><u>All Projects</u></h2>
        <div class="container clearfix">
            <div class="box"></div><div class="content">
                <button type="button" class="button-85"><span>Calculator</span></button>
            </div>
        </div>
        <ul>
            <li>Calculator</li>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7FT5sGDnxV1Q3-JI_w6tPAlGPesQBrIGrGQ&s" alt="Basic Cartoon Calculator Image" width='104'>
            <li>Soda Vending Machine</li>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNWB5mp-G0kLgSg-PG4vTclsDxZ63_mcWN8Q&s" alt="Cartoon Soda Vending Machine Image" width='124'>
        </ul>
        <h3>Access Projects</h3>
    </body>
</html>
